h1 {
    color: red;
}

.container {
    max-width: 450px;
    padding: 0px;
}

form {
    padding: 6px;
    background-color: #FFDAB9;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.normal_img {
    max-width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 300px;
}